/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/* /commons */

/* header */

header {
    height: 70px;
    width: 100%;
    background-color: black;
}

.speaker {
    display:flex;
    color: white;
    justify-content: flex-end;
    align-items:center;
    height: 100%;
}

.ciak {
    padding: 10px 10px;
    background-image: linear-gradient(rgb(56, 56, 56), black);
    border-radius: 5px;
}

header i {
    color: white;
    margin-right: 10px;
    font-size: 18px;
}

 .fa-expand-arrows-alt {
    padding: 10px 10px;
    background-image: linear-gradient(rgb(56, 56, 56), black);
    border-radius: 5px;
    margin-left: 5px;
   
}

/* /header */

/* main */
main {
    width: 100%;
    background-color: black;
    padding-bottom: 50px;
}

.manner {
    display: flex;
    width: 96%;
    margin: 0  auto;
    align-items: center;
    justify-content: space-around;
}

.allow i {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 40px;

}

.allow .fa-caret-right {
    color: rgb(0, 174, 255);
}

.allow_text {
    color: white;
}

.photo_holder {
    width: 90%;
    margin: 0 auto;
}


/* /main */

/* footer */

footer {
    width: 100%;
    height:70px;
    background-color: #202223;
}

.iconed {
    width: 100%;
    height: 100%;
    display: flex;
    
}

.lefty {
    width:20%;
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;

}

.lefty .fa-chevron-up {
    font-size: 14px;
}



.centrly {
    height: 100%;
    width: 60%;
    flex-grow:2;
}

.righty {
    width: 10%;
    flex-grow: 0;
    background-color: #4a4b4e;
    color: #e5524b;
    font-size: 18px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
}

.btn { 
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    margin: 10px 15px ;
    font-size: 18px;
}

.lefty i {
    font-size: 30px;
    margin-bottom: 5px;
    color: white;
}
/* /footer */






/* debug */

/* header {
    background-color: black;
} */
/* 
.debug .manner {
    height: 850px;
} */

.debug .photo_holder {
    height: 800px;
    background-color: violet;

}

/* .debug .lefty {
    height: 100%;
    background-color: blue;
} */

.debug .centrly {
   
    background-color: chartreuse;
}

/* .debug .righty {
    height: 100%;
    
} */



